:root {
    --sidebar-width: 20rem;
    --base-font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    --base-font-size: 14px;

  /* Add sidebar navigation bullets */
  --sidebar-nav-link-before-content-l1: '•'; 
  --sidebar-nav-link-before-content-l2: '-';
  --cover-heading-color: #FFDF72;
  --link-text-decoration-color: #ffdf72;
  --link-color: #475E75;
  --code-inline-background: #ffdbbb;
  --sidebar-nav-link-font-weight--active: bold;
  --mark-background: #5a5750;
  --mark-color: yellow;
  --base-font-family: Seventytwo, sans-serif;
  
}

@media (min-width: 48em)
{
  .sidebar-toggle .sidebar-toggle-button {
      top: 4px;
  }
}

.markdown-section a {
  font-weight: bold;
}